/BodySplitter_CodeBase/.vs

# Prerequisites
*.d
*.log
*.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
*.ipdb
*.pdb
*.tlog
*.lastbuildstate
*.idb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
